html {
  box-sizing: border-box; }

*, *::before, *::after {
  box-sizing: inherit; }

body, html {
  position: relative;
  scroll-behavior: smooth;
  overflow-x: unset;
  height: unset; }

body {
  position: relative;
  height: 100%;
  min-height: 100vh;
  min-width: 320px;
  max-width: 1920px;
  color: black;
  overflow-x: hidden;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-size: 50px;
  line-height: 61px;
  margin: 0 auto; }

ul, li {
  padding-inline-start: 0;
  list-style-type: none; }

a {
  color: white;
  display: inline-block;
  text-decoration: none; }

.container-header {
  margin: 0 100px; }

.container {
  margin: 0 200px; }

.nav-title {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  padding: 75px 0; }

header {
  background: linear-gradient(90deg, #ced3d4 0%, #ced3d4 100%); }

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0; }
  .header-wrapper__burger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    min-height: 25px;
    cursor: pointer;
    position: relative;
    z-index: 5; }
    .header-wrapper__burger-menu .burger-menu__stick {
      width: 40px;
      height: 3px;
      background-color: black;
      opacity: 1;
      transition: all ease .4s; }
  .header-wrapper__burger-menu.opened .up-stick {
    transform: rotate(45deg);
    margin-top: 20px; }
  .header-wrapper__burger-menu.opened .middle-stick {
    opacity: 0; }
  .header-wrapper__burger-menu.opened .bottom-stick {
    transform: rotate(-45deg);
    margin-top: -10px; }
  .header-wrapper__list-menu {
    position: absolute;
    z-index: 2;
    left: -100%;
    top: 0;
    height: 100vh;
    min-width: 40%;
    transition: all .4s ease;
    background-color: #c9cfd1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; }
    .header-wrapper__list-menu ul {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: center;
      width: 100%; }
      .header-wrapper__list-menu ul li a {
        color: black;
        font-size: 34px;
        line-height: 2;
        text-transform: uppercase; }
  .header-wrapper__title {
    font-size: 50px;
    line-height: 100%;
    font-weight: 400;
    text-transform: uppercase; }
  .header-wrapper #basket {
    position: relative;
    background: url(../img/basket.png) no-repeat center/contain;
    width: 45px;
    height: 45px;
    border: none; }
    .header-wrapper #basket #basket-count {
      position: absolute;
      font-size: 11px;
      line-height: 200%;
      top: 5px;
      right: 0;
      transform: translate(-50%, -50%);
      width: 25px;
      height: 25px;
      border-radius: 50%; }
  .header-wrapper #basket.with-products #basket-count {
    z-index: 1;
    color: white;
    background-color: red; }

.active {
  overflow: hidden; }
  .active .header-wrapper__list-menu {
    left: 0; }

.open-modal {
  overflow: hidden; }

.top-content {
  background-image: url("../img/bottle.png");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 65vh;
  display: flex;
  align-items: center;
  justify-content: flex-start; }
  .top-content .container-header {
    display: flex;
    align-items: center;
    justify-content: flex-start; }
  .top-content__title {
    max-width: 50%;
    font-size: 58px;
    font-weight: 700;
    line-height: 1.5; }

.our-products__cards-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between; }
  .our-products__cards-wrapper .card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 45%;
    margin-bottom: 100px; }
    .our-products__cards-wrapper .card__img {
      max-width: 720px;
      width: 100%;
      max-height: 480px;
      height: 100%;
      object-fit: cover; }
    .our-products__cards-wrapper .card__title {
      font-size: 40px;
      line-height: 1;
      font-weight: bold;
      margin: 30px 0;
      min-height: 80px; }
    .our-products__cards-wrapper .card__description {
      min-height: 275px; }
      .our-products__cards-wrapper .card__description ul li {
        font-size: 30px;
        font-weight: 500;
        line-height: 1.5; }
    .our-products__cards-wrapper .card__footer {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: flex-end;
      justify-content: space-between;
      width: 100%;
      margin: 20px 0 0; }
    .our-products__cards-wrapper .card__btn {
      font-size: 30px;
      line-height: 2.5;
      min-width: 220px;
      background-color: black;
      color: white;
      text-transform: lowercase;
      border: 1px solid transparent;
      transition: all .4s ease; }
      .our-products__cards-wrapper .card__btn:hover, .our-products__cards-wrapper .card__btn:focus {
        border: 1px solid black;
        color: black;
        background-color: white; }
    .our-products__cards-wrapper .card__cost {
      font-size: 34px;
      line-height: 1;
      font-weight: bold; }

.our-products__summary {
  display: flex;
  align-items: flex-start;
  justify-content: space-between; }
  .our-products__summary .products-summary__sale, .our-products__summary .products-summary__table {
    max-width: 45%;
    font-size: 30px;
    font-weight: 500; }
  .our-products__summary .products-summary__sale {
    background: rgba(84, 204, 97, 0.46);
    padding: 10px 25px;
    font-weight: bold; }
  .our-products__summary .products-summary__header {
    font-weight: bold;
    line-height: 1.25;
    border-bottom: 3px solid black;
    padding-bottom: 20px;
    margin-bottom: 20px; }
  .our-products__summary .products-summary__sale-sum {
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 1.5; }
    .our-products__summary .products-summary__sale-sum span + span {
      min-width: 80px; }

.values__card-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between; }
  .values__card-wrapper .point-card {
    max-width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .values__card-wrapper .point-card__img {
      max-height: 300px;
      min-height: 300px;
      width: 100%;
      height: 100%;
      object-fit: contain;
      padding: 75px;
      border: 5px solid black; }
    .values__card-wrapper .point-card__title {
      font-size: 36px;
      font-weight: bold;
      line-height: 1;
      align-self: flex-start;
      margin: 25px 0 20px;
      min-height: 72px; }
    .values__card-wrapper .point-card__description {
      font-size: 26px;
      line-height: 1.35;
      font-weight: 500; }

.contacts__info-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 150px; }

.contacts a.contacts__info-card {
  cursor: pointer; }

.contacts__info-card {
  display: flex;
  align-items: center; }
  .contacts__info-card .info-wrapper__inner {
    font-size: 26px;
    margin-left: 10px; }
  .contacts__info-card .info-wrapper__text, .contacts__info-card .info-wrapper__title {
    color: black;
    line-height: 1.5; }
  .contacts__info-card .info-wrapper__title {
    font-weight: bold;
    margin: 0; }
  .contacts__info-card .info-wrapper__text {
    font-weight: 500; }

.link-whatsup, .link-call {
  position: fixed;
  z-index: 1;
  right: 20px;
  bottom: 30px;
  transition: all .4s ease;
  transform: scale(1); }
  .link-whatsup img, .link-call img {
    width: 75px;
    height: 75px;
    object-fit: contain;
    animation: pulse 2.5s ease-out infinite; }
  .link-whatsup:hover, .link-whatsup:focus, .link-call:hover, .link-call:focus {
    transform: scale(1.05); }

.link-call {
  bottom: 120px; }

@keyframes pulse {
  0%, 100% {
    filter: drop-shadow(0 2px 0px rgba(0, 0, 0, 0.5)); }
  50% {
    filter: drop-shadow(0 2px 10px rgba(0, 0, 0, 0.5)); } }

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
  opacity: 0;
  transition: opacity 200ms ease-in;
  margin: 0;
  padding: 0;
  color: black;
  display: none; }

.visible {
  opacity: 1;
  z-index: 100;
  display: block; }

.modal:target {
  opacity: 1;
  pointer-events: auto; }

.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
  overflow: hidden; }

@media (min-width: 650px) {
  .modal-dialog {
    max-width: 750px;
    min-width: 700px;
    max-height: 90vh;
    min-height: 70vh;
    width: 100%;
    height: 100%;
    margin: 30px auto; } }

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
  height: 100%; }

@media (min-width: 768px) {
  .modal-content {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5); } }

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  border-bottom: 1px solid #eceeef;
  padding: 10px; }

.modal-footer {
  border-top: 1px solid #eceeef;
  padding: 15px; }

.order {
  border: 1px solid transparent;
  background-color: black;
  color: white;
  width: 100%;
  font-size: 20px;
  line-height: 54px;
  text-align: center; }

.modal-title {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.5;
  font-size: 30px;
  font-weight: 500; }

.close {
  font-size: 38px;
  font-weight: 500;
  line-height: 1;
  color: #000;
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
  border: none;
  background-color: transparent; }

.close:focus,
.close:hover {
  color: #000;
  cursor: pointer;
  opacity: 0.75; }

.modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: 20px;
  overflow-y: auto; }

@media (max-width: 650px) {
  .modal-content {
    max-height: 90vh; }
  .modal-header {
    height: 70px; } }

@media (max-width: 500px) {
  .close {
    right: 10px; } }

.empty-basket .order:disabled {
  opacity: .5; }

#basket-content .basket-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin-bottom: 30px; }
  #basket-content .basket-card__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap; }
  #basket-content .basket-card__inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 15px; }
  #basket-content .basket-card__img {
    width: 70px;
    height: 70px;
    object-fit: cover; }
  #basket-content .basket-card__range-block, #basket-content .basket-card__name {
    font-size: 24px;
    line-height: 1; }
  #basket-content .basket-card__range-block {
    display: flex;
    align-items: center;
    margin-top: 10px; }
  #basket-content .basket-card__input {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    margin-right: 15px; }
    #basket-content .basket-card__input button {
      background-color: #ccc;
      border: none;
      width: 30px; }
    #basket-content .basket-card__input .decr {
      border-radius: 3px 0 0 3px; }
    #basket-content .basket-card__input .incr {
      border-radius: 0 3px 3px 0; }
    #basket-content .basket-card__input button, #basket-content .basket-card__input input {
      height: 30px; }
    #basket-content .basket-card__input input {
      padding: 0 10px;
      width: 65px;
      text-align: center; }
  #basket-content .basket-card__delete {
    background-color: transparent;
    border: none; }

#my-form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between; }
  #my-form .group-summary.form-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; }
    #my-form .group-summary.form-group .group-summary__cost {
      font-size: 20px;
      font-weight: 500; }
    #my-form .group-summary.form-group #total-cost {
      display: none; }
  #my-form .group-products.form-group #order-products-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start; }
    #my-form .group-products.form-group #order-products-wrapper .order-card {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: flex-start;
      justify-content: flex-start;
      width: 100%;
      margin: 10px 0; }
      #my-form .group-products.form-group #order-products-wrapper .order-card__img {
        width: 100px;
        height: 100px;
        object-fit: cover; }
      #my-form .group-products.form-group #order-products-wrapper .order-card__text-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 15px; }
      #my-form .group-products.form-group #order-products-wrapper .order-card__product-name {
        font-size: 24px;
        line-height: 1;
        margin-bottom: 5px; }
      #my-form .group-products.form-group #order-products-wrapper .order-card__summary {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center; }
      #my-form .group-products.form-group #order-products-wrapper .order-card__amount, #my-form .group-products.form-group #order-products-wrapper .order-card__price {
        min-width: unset; }
      #my-form .group-products.form-group #order-products-wrapper .order-card__amount {
        color: rgba(0, 0, 0, 0.8); }
      #my-form .group-products.form-group #order-products-wrapper .order-card__price {
        font-weight: 500;
        margin-left: 20px; }
  #my-form .group-products.form-group #hidden-products {
    display: none;
    z-index: -99; }
  #my-form .form-group {
    width: 100%; }
    #my-form .form-group .required {
      position: relative; }
      #my-form .form-group .required:before {
        content: '*';
        color: red;
        left: -10px;
        top: 0;
        position: absolute; }
    #my-form .form-group .group-title {
      font-size: 24px;
      line-height: 1.5;
      font-weight: 500;
      margin: 20px 0; }
    #my-form .form-group .input-wrapper + .input-wrapper {
      margin-top: 15px; }
    #my-form .form-group .input-wrapper.hidden {
      display: none; }
    #my-form .form-group .input-wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 100%; }
      #my-form .form-group .input-wrapper label {
        min-width: 40%; }
      #my-form .form-group .input-wrapper label, #my-form .form-group .input-wrapper input, #my-form .form-group .input-wrapper select, #my-form .form-group .input-wrapper p, #my-form .form-group .input-wrapper option {
        font-size: 20px;
        line-height: 1.5; }
      #my-form .form-group .input-wrapper input, #my-form .form-group .input-wrapper select {
        border-radius: 4px;
        border: 1px solid rgba(0, 0, 0, 0.5);
        padding: 3px 6px; }
      #my-form .form-group .input-wrapper input, #my-form .form-group .input-wrapper select, #my-form .form-group .input-wrapper p {
        color: black;
        min-width: 60%; }
      #my-form .form-group .input-wrapper input::placeholder {
        color: rgba(0, 0, 0, 0.7); }

#my-form-button:disabled {
  background-color: rgba(0, 0, 0, 0.5); }

.agree-wrapper {
  display: flex;
  align-items: baseline;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  min-height: 25px;
  margin-top: 10px; }
  .agree-wrapper #agree-text, .agree-wrapper #agree {
    font-size: 14px;
    line-height: 1; }
  .agree-wrapper #agree {
    border-radius: 5px;
    margin-right: 5px;
    cursor: pointer; }

@media (max-width: 1830px) {
  .values__card-wrapper .point-card {
    max-width: 30%; } }

@media (max-width: 1440px) {
  .header-wrapper__list-menu {
    min-width: 50%; }
  .container {
    margin: 0 125px; }
  .container-header {
    margin: 0 50px; } }

@media (max-width: 1366px) {
  .header-wrapper__title {
    font-size: 40px; }
  .header-wrapper__list-menu ul li a {
    font-size: 24px; }
  .top-content__title, .nav-title {
    font-size: 48px; }
  .our-products__cards-wrapper .card__title {
    font-size: 30px;
    min-height: 60px; }
  .our-products__cards-wrapper .card__description ul li {
    font-size: 20px; }
  .our-products__cards-wrapper .card__description {
    min-height: 190px; }
  .our-products__cards-wrapper .card__btn {
    font-size: 20px;
    min-width: 170px; }
  .our-products__summary .products-summary__sale, .our-products__summary .products-summary__table {
    font-size: 20px; }
  .our-products__summary .products-summary__sale {
    line-height: 2; }
  .values__card-wrapper .point-card__img {
    padding: 50px; }
  .values__card-wrapper .point-card__title {
    font-size: 26px;
    min-height: 52px; }
  .values__card-wrapper .point-card__description {
    font-size: 16px; }
  .contacts__info-card .info-wrapper__inner {
    font-size: 16px; }
  .info-wrapper__img {
    max-width: 40px; }
  .contacts__info-wrapper {
    padding-bottom: 75px; }
  .link-call img, .link-whatsup img {
    width: 50px;
    height: 50px; }
  .link-call {
    bottom: 100px; } }

@media (max-width: 1280px) {
  .our-products__summary .products-summary__sale-sum span + span {
    min-width: 50px; }
  .nav-title, .top-content__title {
    font-size: 38px; }
  .nav-title {
    padding: 50px; }
  .header-wrapper__title {
    font-size: 30px; }
  .header-wrapper__list-menu ul li a {
    font-size: 20px; }
  .our-products__cards-wrapper .card__title {
    font-size: 26px;
    min-height: 52px;
    margin: 20px 0; }
  .our-products__cards-wrapper .card__description ul li {
    font-size: 18px; }
  .our-products__cards-wrapper .card__btn {
    font-size: 18px;
    min-width: 150px; }
  .our-products__cards-wrapper .card__cost {
    font-size: 20px; }
  .our-products__cards-wrapper .card__description {
    min-height: 165px; }
  .our-products__cards-wrapper .card {
    margin-bottom: 70px; }
  .values__card-wrapper .point-card__img {
    min-height: unset;
    max-height: unset;
    height: 200px; }
  .values__card-wrapper .point-card__title {
    margin: 15px 0; } }

@media (max-width: 1024px) {
  .header-wrapper__list-menu {
    min-width: 100%; }
  .top-content {
    background-position: center;
    background-size: cover;
    min-height: 40vh; }
  .container-header {
    margin: 0 30px; }
  .container {
    margin: 0 50px; } }

@media (max-width: 970px) {
  .values__card-wrapper {
    flex-wrap: wrap;
    justify-content: space-around; }
  .values__card-wrapper .point-card {
    max-width: 37%;
    margin: 20px 0; } }

@media (max-width: 810px) {
  .our-products__cards-wrapper .card__title {
    min-height: 78px; }
  .our-products__cards-wrapper .card__description {
    min-height: 190px; } }

@media (max-width: 690px) {
  .our-products__cards-wrapper {
    flex-wrap: wrap; }
  .our-products__cards-wrapper .card {
    max-width: 100%;
    margin-bottom: 50px; }
  .our-products__cards-wrapper .card__title {
    min-height: unset; }
  .our-products__cards-wrapper .card__description {
    min-height: unset; }
  .our-products__summary {
    flex-wrap: wrap;
    justify-content: center; }
  .our-products__summary .products-summary__sale, .our-products__summary .products-summary__table {
    max-width: 100%;
    width: 100%; }
  .our-products__summary .products-summary__sale {
    margin-bottom: 30px;
    text-align: center; }
  .values__card-wrapper .point-card {
    max-width: 100%; }
  .contacts__info-wrapper {
    flex-wrap: wrap; }
  .contacts__info-card {
    width: 100%;
    margin-bottom: 20px; }
  .container-header {
    margin: 0 20px; }
  .container {
    margin: 0 20px; }
  .header-wrapper {
    padding: 10px 0; }
  .nav-title {
    padding: 30px; }
  .nav-title, .top-content__title {
    font-size: 30px; }
  .our-products__cards-wrapper .card__title {
    font-size: 22px; }
  .our-products__cards-wrapper .card__description ul li {
    font-size: 16px; }
  .values__card-wrapper .point-card__title {
    min-height: unset; }
  .contacts__info-wrapper {
    padding-bottom: 25px; } }

@media (max-width: 510px) {
  #basket-content .basket-card__name, #basket-content .basket-card__range-block {
    font-size: 16px; }
  #basket-content .basket-card__img {
    width: 60px;
    height: 60px; } }

@media (max-width: 430px) {
  .top-content {
    min-height: 50vh; }
  .nav-title, .top-content__title {
    font-size: 20px; }
  .header-wrapper__list-menu ul li a {
    font-size: 14px; }
  .nav-title {
    padding: 10px;
    line-height: 1.5; }
  .our-products__cards-wrapper .card__title {
    font-size: 16px;
    margin: 15px 0; }
  .our-products__cards-wrapper .card__description ul li {
    font-size: 14px; }
  .our-products__cards-wrapper .card__cost {
    font-size: 16px; }
  .our-products__cards-wrapper .card__btn {
    font-size: 16px;
    min-width: 140px; }
  .our-products__summary .products-summary__sale, .our-products__summary .products-summary__table {
    font-size: 16px; }
  .our-products__summary .products-summary__sale {
    margin-bottom: 15px; }
  .our-products__summary .products-summary__header {
    padding-bottom: 10px;
    margin-bottom: 10px; }
  .our-products__summary .products-summary__table {
    margin-bottom: 20px; }
  .values__card-wrapper .point-card {
    margin: 10px 0; }
  .values__card-wrapper .point-card__title {
    font-size: 18px; }
  .contacts__info-card .info-wrapper__inner, .values__card-wrapper .point-card__description {
    font-size: 14px; }
  .link-call img, .link-whatsup img {
    width: 40px;
    height: 40px; }
  .link-call {
    bottom: 90px; }
  .header-wrapper__title {
    font-size: 24px; }
  .header-wrapper__burger-menu {
    min-height: 20px; }
  .header-wrapper__burger-menu .burger-menu__stick {
    width: 30px;
    height: 2px; }
  .header-wrapper__burger-menu.opened .up-stick {
    margin-top: 17px; }
  #my-form .form-group .group-title {
    font-size: 16px;
    margin: 10px 0; }
  #my-form .form-group .input-wrapper input, #my-form .form-group .input-wrapper label, #my-form .form-group .input-wrapper option, #my-form .form-group .input-wrapper p, #my-form .form-group .input-wrapper select {
    font-size: 14px; }
  .modal-title {
    font-size: 18px; }
  #my-form .group-products.form-group #order-products-wrapper .order-card__product-name {
    font-size: 14px; }
  #my-form .group-products.form-group #order-products-wrapper .order-card__img {
    width: 50px;
    height: 50px; }
  #my-form .group-products.form-group #order-products-wrapper .order-card__amount, #my-form .group-products.form-group #order-products-wrapper .order-card__price {
    font-size: 12px; }
  #my-form .group-summary.form-group .group-summary__cost {
    font-size: 16px; }
  .modal-body {
    padding: 10px; }
  .order {
    font-size: 16px;
    line-height: 40px; }
  .agree-wrapper #agree, .agree-wrapper #agree-text {
    font-size: 10px; }
  #my-form .form-group .required:before {
    left: -5px; } }

@media (max-width: 330px) {
  #basket-content .basket-card__name, #basket-content .basket-card__range-block {
    font-size: 14px; }
  #basket-content .basket-card__img {
    width: 50px;
    height: 50px; }
  #basket-content .basket-card__input input {
    width: 50px; } }

/*# sourceMappingURL=style.css.map */
