html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body, html {
  position: relative;
  scroll-behavior: smooth;
}

body {
  position: relative;
  height: 100%;
  min-height: 100vh;
  min-width: $min-width;
  max-width: $max-width;
  color: black;
  overflow-x: hidden;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-size: 20px;
  line-height: 1.5;
  margin: 0 auto;
}

ul, li {
  padding-inline-start: 0;
  list-style-type: none;
}

a {
  color: white;
  display: inline-block;
  text-decoration: none;
}

.container-header {
  margin: 0 100px;
}

.container {
  margin: 0 200px;
}

.nav-title {
  font-size: 58px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  padding: 75px 0;
}

